{% extends 'ProyectoBazarApp/base.html'%}
{% load static %}

{% block tituloPagina%} 
Buscar Artículo - BD Bazar & Design
{%endblock%}

{% block contenidoPagina%}
<form action="" method="post">
    {% csrf_token %}

    <input type="text" name="producto" id="">
                                           
    <input type="submit" value="Buscar">
    
</form>

<p>Resultados: </p>
<ul>
    {% for articulo in articulos %}
        <li>{{articulo.cantidad}} {{articulo.producto}} ${{articulo.precio}}</li>

    {% endfor %}
</ul>
{% endblock %}