<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BD Bazar & Design</title>
</head>
<body>
    <h1>BIENVENIDOS A BD BAZAR & DESIGN</h1>
    <h3>Productos disponibles</h3>
    {% for articulo in articulos %}
        <p>{{ articulo.producto }}</p>
        <p>{{ articulo.detalle }}</p>
        <p>{{ articulo.cantidad }}</p>
        <p>{{ articulo.color }}</p>
        <p>{{ articulo.precio }}</p>
    {% endfor %}
</body>
</html>