{% extends 'ProyectoBazarApp/base.html'%}
{% load static %}

{% block tituloPagina%} 
Nosotros - BD Bazar & Design
{%endblock%}

{% block contenidoPagina%}
        <section class="bg-light py-5">
            <h1>Podés encontrarnos en:</h1>            
            <div class="container">                
                <div class="row">                    
                    <div class="col-6 col-sm-4">DIRECCIÓN:</div>                                
                    <div class="col-6 col-sm-4">{{nosotros.direccion}}</div>                                        
                
                    <!-- Force next columns to break to new line at md breakpoint and up -->
                    <div class="w-100 d-none d-md-block"></div>
                
                    <div class="col-6 col-sm-4">TELÉFONO:</div>
                    <div class="col-6 col-sm-4">{{nosotros.telefono}}</div>

                    <!-- Force next columns to break to new line at md breakpoint and up -->
                    <div class="w-100 d-none d-md-block"></div>
                
                    <div class="col-6 col-sm-4">EMAIL:</div>
                    <div class="col-6 col-sm-4">{{email}}</div>
                    
                    <!-- Force next columns to break to new line at md breakpoint and up -->
                    <div class="w-100 d-none d-md-block"></div>
                
                    <div class="col-6 col-sm-4">INSTAGRAM:</div>
                    <div class="col-6 col-sm-4">{{instagram}}</div>                    
                </div>                
            </div>
               
        </section>
{% endblock %}