{% extends 'ProyectoBazarApp/base.html'%}
{% load static %}

{% block tituloPagina%} 
Servicios - BD Bazar & Design
{%endblock%}

{% block contenidoPagina%}        
        <section class="bg-light py-5">
            <div class="container px-5">
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-5">
                        <h3>Nuestros servicios:</h3>
                        <ul class="list-group">
                            {% for servicio in servicios %}                                
                                {% if user.is_authenticated %}
                                    {% if user.is_staff %}                                                                            
                                        <li class="list-group-item d-flex justify-content-between align-items-start">
                                            {{servicio.nombre}}<a href="{% url 'eliminar_servicio' servicio.id %}" class="btn btn-outline-dark"> <i class="bi bi-cloud-minus-fill"></i> Eliminar</a> 
                                        </li>                                                                
                                    {% endif %}
                                {% else %}
                                    <li class="list-group-item d-flex justify-content-between align-items-start">
                                        {{servicio.nombre}} 
                                    </li>
                                {% endif %}                                
                            {% endfor %}
                            <br>
                            {% if user.is_authenticated %}
                                {% if user.is_staff %}
                                    <a class="btn btn-outline-dark" href="{% url 'crear_servicio' %}"><i class="bi bi-plus-circle-fill"></i> Agregar Servicio</a>                                    
                                {% endif %}
                            {% endif %}
                            <br>                   
                        </ul>
                    </div>
                </div>
            </div>
        </section>         
{% endblock%}